# Import packages

In [1]:
import pandas as pd
import numpy as np

# Custom functions

In [2]:
def month_mapper(month):
    
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    
    # Get index
    ind = months.index(month)+1
    if ind < 10:
        return '0'+str(ind)
    else:
        return str(ind)

# Data import and preprocessing

In [3]:
snp500 = pd.read_csv('../Data/GSPC_monthly_10year.csv')

print(snp500.head())

         Date         Open         High          Low        Close  \
0  2011-01-01  1257.619995  1302.670044  1257.619995  1286.119995
1  2011-02-01  1289.140015  1344.069946  1289.140015  1327.219971
2  2011-03-01  1328.640015  1332.280029  1249.050049  1325.829956
3  2011-04-01  1329.479980  1364.560059  1294.699951  1363.609985
4  2011-05-01  1365.209961  1370.579956  1311.800049  1345.199951

     Adj Close       Volume
0  1286.119995  92164940000
1  1327.219971  59223660000
2  1325.829956  89507640000
3  1363.609985  77364810000
4  1345.199951  81708980000

In [4]:
# Always rename columns, format date, then merge

# Rename S&P 500 columns
temp = ['snp500_'+i for i in snp500.columns]
temp[0] = 'Date'


snp500.columns = temp

# Format date column
snp500.Date = [i[:7] for i in snp500.Date]


print(snp500.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume
0       1286.119995    92164940000
1       1327.219971    59223660000
2       1325.829956    89507640000
3       1363.609985    77364810000
4       1345.199951    81708980000

In [5]:
cape = pd.read_csv('../Data/CAPE_monthly.csv',index_col=0)

print(cape.head())

          Date   CAPE
0  Dec 3, 2020  33.60
1  Nov 1, 2020  31.33
2  Oct 1, 2020  31.28
3  Sep 1, 2020  30.84
4  Aug 1, 2020  31.16

In [6]:
cape.Date = [i[-4:]+'-'+month_mapper(i[:3]) for i in cape.Date]
print(cape.head())

      Date   CAPE
0  2020-12  33.60
1  2020-11  31.33
2  2020-10  31.28
3  2020-09  30.84
4  2020-08  31.16

In [7]:
TB10 = pd.read_csv('../Data/TB10Y_monthly.csv')

print(TB10.head())

     Date  Price   Open   High    Low Change %
0  Dec 20  0.933  0.847  0.964  0.839   10.75%
1  Nov 20  0.842  0.855  0.975  0.718   -3.61%
2  Oct 20  0.874  0.689  0.877  0.653   27.42%
3  Sep 20  0.686  0.713  0.731  0.604   -2.93%
4  Aug 20  0.706  0.535  0.789  0.504   32.51%

In [8]:
TB10.Date = ['20'+i[-2:]+'-'+month_mapper(i[:3]) for i in TB10.Date]

TB10 = TB10[['Date','Price']]
TB10.columns = ['Date','TB10']

print(TB10.head())

      Date   TB10
0  2020-12  0.933
1  2020-11  0.842
2  2020-10  0.874
3  2020-09  0.686
4  2020-08  0.706

In [9]:
CPI_growth_rate = pd.read_csv('../Data/CPI_growth_rate_monthly.csv')

print(CPI_growth_rate.head())

         DATE  CPALTT01USM657N
0  2010-09-01         0.058174
1  2010-10-01         0.124520
2  2010-11-01         0.042065
3  2010-12-01         0.171844
4  2011-01-01         0.476323

In [10]:
# Format date column
CPI_growth_rate.DATE = [i[:7] for i in CPI_growth_rate.DATE]

CPI_growth_rate.columns = ['Date','CPI_growth_rate']

print(CPI_growth_rate.head())

      Date  CPI_growth_rate
0  2010-09         0.058174
1  2010-10         0.124520
2  2010-11         0.042065
3  2010-12         0.171844
4  2011-01         0.476323

In [11]:
TB3MS = pd.read_csv('../Data/TB3MS.csv')

print(TB3MS.head())

         DATE  TB3MS
0  2010-11-01   0.14
1  2010-12-01   0.14
2  2011-01-01   0.15
3  2011-02-01   0.13
4  2011-03-01   0.10

In [12]:
TB3MS.DATE = [i[:7] for i in TB3MS.DATE]


TB3MS.columns = ['Date','TB3MS']

print(TB3MS.head())

      Date  TB3MS
0  2010-11   0.14
1  2010-12   0.14
2  2011-01   0.15
3  2011-02   0.13
4  2011-03   0.10

In [13]:
DFR = pd.read_csv('../Data/DFR.csv')

print(DFR.head())

         DATE BAA10Y
0  2010-12-01   3.01
1  2010-12-02   2.99
2  2010-12-03   3.02
3  2010-12-06   3.02
4  2010-12-07   2.99

In [14]:
DFR.DATE = [i[:7] for i in DFR.DATE]


DFR.columns = ['Date','DFR']

DFR = DFR.drop_duplicates(subset=['Date'], keep='first')

print(DFR.head())

       Date   DFR
0   2010-12  3.01
23  2011-01  2.68
44  2011-02  2.66
64  2011-03  2.59
87  2011-04  2.58

In [15]:
DFY = pd.read_csv('../Data/DFY.csv')

print(DFY.head())

         DATE  BAA_AAA
0  2010-11-01     1.05
1  2010-12-01     1.08
2  2011-01-01     1.05
3  2011-02-01     0.93
4  2011-03-01     0.90

In [16]:
DFY.DATE = [i[:7] for i in DFY.DATE]


DFY.columns = ['Date','DFY']

print(DFY.head())

      Date   DFY
0  2010-11  1.05
1  2010-12  1.08
2  2011-01  1.05
3  2011-02  0.93
4  2011-03  0.90

In [17]:
OIL_WTI = pd.read_csv('../Data/OIL_WTI.csv')

print(OIL_WTI.head())

         DATE  POILWTIUSDM
0  2010-10-01    81.899524
1  2010-11-01    84.191818
2  2010-12-01    89.223478
3  2011-01-01    89.510000
4  2011-02-01    89.366000

In [18]:
OIL_WTI.DATE = [i[:7] for i in OIL_WTI.DATE]


OIL_WTI.columns = ['Date','OIL_WTI']

print(OIL_WTI.head())

      Date    OIL_WTI
0  2010-10  81.899524
1  2010-11  84.191818
2  2010-12  89.223478
3  2011-01  89.510000
4  2011-02  89.366000

In [19]:
EUR_USD = pd.read_csv('../Data/EUR_USD.csv')

print(EUR_USD.head())

     Date   Price    Open    High     Low Change %
0  Dec 20  1.2151  1.1938  1.2177  1.1935    1.87%
1  Nov 20  1.1928  1.1658  1.2004  1.1603    2.41%
2  Oct 20  1.1647  1.1719  1.1882  1.1639   -0.61%
3  Sep 20  1.1718  1.1936  1.2012  1.1612   -1.83%
4  Aug 20  1.1936  1.1783  1.1967  1.1696    1.38%

In [20]:
EUR_USD.Date = ['20'+i[-2:]+'-'+month_mapper(i[:3]) for i in EUR_USD.Date]

EUR_USD = EUR_USD[['Date','Price']]
EUR_USD.columns = ['Date','EUR_USD']

print(EUR_USD.head())

      Date  EUR_USD
0  2020-12   1.2151
1  2020-11   1.1928
2  2020-10   1.1647
3  2020-09   1.1718
4  2020-08   1.1936

In [21]:
CNY_USD = pd.read_csv('../Data/CNY_USD.csv')

print(CNY_USD.head())

     Date   Price    Open    High     Low Change %
0  Dec 20  0.1528  0.1520  0.1528  0.1518    0.54%
1  Nov 20  0.1519  0.1494  0.1529  0.1481    1.70%
2  Oct 20  0.1494  0.1473  0.1506  0.1473    1.47%
3  Sep 20  0.1472  0.1461  0.1481  0.1458    0.85%
4  Aug 20  0.1460  0.1432  0.1462  0.1431    1.85%

In [22]:
CNY_USD.Date = ['20'+i[-2:]+'-'+month_mapper(i[:3]) for i in CNY_USD.Date]

CNY_USD = CNY_USD[['Date','Price']]
CNY_USD.columns = ['Date','CNY_USD']

print(CNY_USD.head())

      Date  CNY_USD
0  2020-12   0.1528
1  2020-11   0.1519
2  2020-10   0.1494
3  2020-09   0.1472
4  2020-08   0.1460

In [23]:
FTSE = pd.read_csv('../Data/FTSE.csv')

print(FTSE.head())

         Date         Open         High          Low        Close  \
0  1996-01-01  3689.300049  3767.399902  3645.300049  3759.300049
1  1996-02-01  3753.300049  3791.600098  3688.699951  3727.600098
2  1996-03-01  3729.500000  3792.500000  3629.100098  3699.699951
3  1996-04-01  3692.100098  3858.899902  3692.100098  3817.899902
4  1996-05-01  3816.899902  3829.399902  3707.300049  3747.800049

     Adj Close  Volume
0  3759.300049       0
1  3727.600098       0
2  3699.699951       0
3  3817.899902       0
4  3747.800049       0

In [24]:
FTSE.Date = [i[:7] for i in FTSE.Date]

FTSE = FTSE[['Date','Close']]

FTSE.columns = ['Date','FTSE100']

print(FTSE.head())

      Date      FTSE100
0  1996-01  3759.300049
1  1996-02  3727.600098
2  1996-03  3699.699951
3  1996-04  3817.899902
4  1996-05  3747.800049

# Data merging

In [25]:
df = snp500.merge(cape,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE
0       1286.119995    92164940000  22.98
1       1327.219971    59223660000  23.49
2       1325.829956    89507640000  22.90
3       1363.609985    77364810000  23.14
4       1345.199951    81708980000  23.06

In [26]:
df = df.merge(TB10,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10
0       1286.119995    92164940000  22.98  3.374
1       1327.219971    59223660000  23.49  3.422
2       1325.829956    89507640000  22.90  3.470
3       1363.609985    77364810000  23.14  3.290
4       1345.199951    81708980000  23.06  3.059

In [27]:
df = df.merge(CPI_growth_rate,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate
0       1286.119995    92164940000  22.98  3.374         0.476323
1       1327.219971    59223660000  23.49  3.422         0.493137
2       1325.829956    89507640000  22.90  3.470         0.975107
3       1363.609985    77364810000  23.14  3.290         0.643943
4       1345.199951    81708980000  23.06  3.059         0.470419

In [28]:
df = df.merge(TB3MS,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

In [29]:
df = df.merge(DFR,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS   DFR
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15  2.68
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13  2.66
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10  2.59
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06  2.58
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04  2.57

In [30]:
df = df.merge(DFY,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS  \
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

    DFR   DFY
0  2.68  1.05
1  2.66  0.93
2  2.59  0.90
3  2.58  0.86
4  2.57  0.82

In [31]:
df = df.merge(OIL_WTI,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS  \
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

    DFR   DFY     OIL_WTI
0  2.68  1.05   89.510000
1  2.66  0.93   89.366000
2  2.59  0.90  102.916087
3  2.58  0.86  110.042857
4  2.57  0.82  101.251364

In [32]:
df = df.merge(EUR_USD,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS  \
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

    DFR   DFY     OIL_WTI  EUR_USD
0  2.68  1.05   89.510000   1.3686
1  2.66  0.93   89.366000   1.3802
2  2.59  0.90  102.916087   1.4166
3  2.58  0.86  110.042857   1.4802
4  2.57  0.82  101.251364   1.4396

In [33]:
df = df.merge(CNY_USD,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS  \
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

    DFR   DFY     OIL_WTI  EUR_USD  CNY_USD
0  2.68  1.05   89.510000   1.3686   0.1513
1  2.66  0.93   89.366000   1.3802   0.1522
2  2.59  0.90  102.916087   1.4166   0.1527
3  2.58  0.86  110.042857   1.4802   0.1540
4  2.57  0.82  101.251364   1.4396   0.1543

In [34]:
df = df.merge(FTSE,how='inner',left_on='Date',right_on='Date')

print(df.head())

      Date  snp500_Open  snp500_High   snp500_Low  snp500_Close  \
0  2011-01  1257.619995  1302.670044  1257.619995   1286.119995
1  2011-02  1289.140015  1344.069946  1289.140015   1327.219971
2  2011-03  1328.640015  1332.280029  1249.050049   1325.829956
3  2011-04  1329.479980  1364.560059  1294.699951   1363.609985
4  2011-05  1365.209961  1370.579956  1311.800049   1345.199951

   snp500_Adj Close  snp500_Volume   CAPE   TB10  CPI_growth_rate  TB3MS  \
0       1286.119995    92164940000  22.98  3.374         0.476323   0.15
1       1327.219971    59223660000  23.49  3.422         0.493137   0.13
2       1325.829956    89507640000  22.90  3.470         0.975107   0.10
3       1363.609985    77364810000  23.14  3.290         0.643943   0.06
4       1345.199951    81708980000  23.06  3.059         0.470419   0.04

    DFR   DFY     OIL_WTI  EUR_USD  CNY_USD      FTSE100
0  2.68  1.05   89.510000   1.3686   0.1513  5862.899902
1  2.66  0.93   89.366000   1.3802   0.1522  5994.000000
2  2.59  0.90  102.916087   1.4166   0.1527  5908.799805
3  2.58  0.86  110.042857   1.4802   0.1540  6069.899902
4  2.57  0.82  101.251364   1.4396   0.1543  5990.000000

In [35]:
print(df.shape)

(117, 17)

# Export preprocessed data

In [36]:
df.to_csv('../Data/preprocessed_df.csv')